/*box shadow*/
.header {
  background-color: white;
  padding: 0.8rem;
  position: relative;
}
.header__logo {
  text-align: center;
}
.header__icon {
  position: absolute;
  top: 28px;
  left: 20px;
  color: black;
}

.footer {
  background: #353535;
  padding: 1rem;
  color: white;
}
.footer__logo {
  font-size: 1.2rem;
  padding-left: 1rem;
  width: 8rem;
  font-weight: 300;
}
.footer__contact {
  padding: 1rem;
}
.footer__list {
  padding-bottom: 0.6rem;
}
.footer__list--link {
  color: white;
}
.footer__icon {
  padding-right: 0.6rem;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

body, html {
  font-family: Roboto, Arial, Helvetica;
}

h1, h5, .rob {
  font-family: Shrikhand, Arial, Helvetica;
}

/* Localisation */
.location {
  background-color: #EAEAEA;
  text-align: center;
  padding: 1.3rem;
  font-weight: 500;
  box-shadow: inset 0px 5px 3px -1px rgba(0, 0, 0, 0.1);
}
.location__icon {
  padding: 0.5rem;
}

/* Information */
.information {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.information__title {
  font-size: 1.8rem;
}
.information__text {
  padding: 1rem 0 0;
  color: rgb(104, 103, 103);
}
.information__btn {
  margin: 1.8rem auto;
  background: rgb(147, 86, 220);
  background: linear-gradient(352deg, #9356DC, #FF79DA 100%);
  border-radius: 2rem;
  padding: 0.9rem;
  width: 12.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 3px 10px 5px #EAEAEA;
  transition: opacity, box-shadow 0.7s ease-in-out;
}
.information__btn:hover {
  opacity: 0.85;
  box-shadow: 3px 10px 5px #c5c5c5;
}

/* Fonctionnement */
.tutorial__title {
  margin-left: 1rem;
  font-size: 1.3rem;
}
.tutorial__list {
  padding: 1.4rem;
}
.tutorial__step {
  background-color: #F6F6F6;
  padding: 1.5rem;
  margin-bottom: 1.4rem;
  border-radius: 1rem;
  box-shadow: 3px 10px 5px #EAEAEA;
  position: relative;
  display: flex;
  cursor: pointer;
}
.tutorial__step:hover {
  background-color: #F5EDFF;
}
.tutorial__step:hover .tutorial__icon {
  color: #9356DC;
}
.tutorial__counter {
  position: absolute;
  left: -10px;
  background-color: #9356DC;
  border-radius: 100px;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0.2rem;
  color: white;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tutorial__icon {
  color: gray;
  margin-left: 0.7rem;
}
.tutorial__text {
  font-weight: bold;
  margin: 0 auto;
}

/* Restaurants */
.restaurant {
  background-color: #F6F6F6;
  padding: 2.5rem 1rem;
}
.restaurant__title {
  margin-bottom: 1.2rem;
  font-size: 1.3rem;
}
.restaurant__card {
  position: relative;
  border-radius: 1rem;
  background-color: white;
  margin-bottom: 2rem;
  width: 100%;
  box-shadow: 3px 10px 5px #EAEAEA;
}
.restaurant__img {
  object-fit: cover;
  width: 100%;
  height: 11rem;
  border-radius: 1rem 1rem 0 0;
}
.restaurant__new {
  background-color: #99E2D0;
  color: #0F9070;
  font-size: small;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 12px;
  right: 15px;
}
.restaurant__footer {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant__name {
  font-size: 1rem;
  padding-bottom: 0.2rem;
  color: black;
}
.restaurant__text {
  color: black;
}
.restaurant__icon {
  font-size: 1.7rem;
  color: black;
}
.restaurant .fa-heart:hover::before {
  background: #ff79da;
  font-weight: 900;
  background: -webkit-linear-gradient(to right, #9356dc 21%, #ff79da 100%);
  background: linear-gradient(to right, #9356dc 21%, #ff79da 100%);
  -webkit-background-clip: text;
  color: transparent;
  transition: 500ms ease-out;
}

/*# sourceMappingURL=index.css.map */
