@charset "UTF-8";
/*box shadow*/
.header {
  background-color: white;
  padding: 0.8rem;
  position: relative;
}
.header__logo {
  text-align: center;
}
.header__icon {
  position: absolute;
  top: 28px;
  left: 20px;
  color: black;
}

/*media query*/
.footer {
  background: #353535;
  padding: 1rem;
  color: white;
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    width: 95%;
    margin: 1rem auto;
  }
  .footer__contact {
    width: 95%;
    margin: 2rem auto;
    display: flex;
    column-gap: 5rem;
    justify-content: center;
  }
}
.footer__logo {
  font-size: 1.2rem;
  padding-left: 1rem;
  width: 8rem;
  font-weight: 300;
}
.footer__contact {
  padding: 1rem;
}
.footer__list {
  padding-bottom: 0.6rem;
}
.footer__list--link {
  color: white;
}
.footer__icon {
  padding-right: 0.6rem;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

body, html {
  font-family: Roboto, Arial, Helvetica;
}

h1, h5, .rob {
  font-family: Shrikhand, Arial, Helvetica;
}

/*media query*/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
/* Photo */
.image {
  width: 100%;
  height: 24rem;
}
.image__background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 100% 50%;
}

/* Menu général */
.menu {
  background-color: #F6F6F6;
  padding: 1rem;
  position: relative;
  margin-top: -3.5rem;
  border-radius: 2rem 2rem 0 0;
}
.menu__title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 1rem;
}
.menu__name {
  font-size: 1.3rem;
  font-weight: 500;
}
.menu__icon {
  font-size: 1.3rem;
  color: black;
}
.menu .fa-heart:hover::before {
  background: #ff79da;
  font-weight: 900;
  background: -webkit-linear-gradient(to right, #9356dc 21%, #ff79da 100%);
  background: linear-gradient(to right, #9356dc 21%, #ff79da 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: 500ms ease-out;
}

@media screen and (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 0 2.5rem;
  }
}
.container__meal {
  margin-top: 2rem;
}
.container__title {
  font-weight: 400;
  border-bottom: 3px #99E2D0 solid;
  width: 35px;
}

/* Entrées Plats Desserts */
.meal {
  cursor: pointer;
  box-shadow: 3px 10px 5px #EAEAEA;
  background-color: white;
  margin: 1rem 0.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  animation: fadeInUp 1.5s 1 both ease;
  /* animation slide */
}
.meal__choise {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.meal__name {
  padding: 0.5rem 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.meal__text {
  padding: 0 0 0.5rem 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.meal__price {
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  justify-content: flex-end;
  font-weight: 900;
}
.meal:hover .meal__price {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: flex;
}
.meal:hover .meal__confirm {
  animation-name: scale-up-hor-right;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: flex;
}
.meal__confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #99E2D0;
  width: 4rem;
  border-radius: 0 1rem 1rem 0rem;
  display: none;
}
.meal__anim {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  background-color: white;
  border-radius: 100px;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(0deg);
}
.meal:hover .meal__check {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* Bouton commander */
.btn {
  display: flex;
}
.btn__order {
  margin: 2rem auto 4rem;
  background: rgb(147, 86, 220);
  background: linear-gradient(352deg, #9356DC, #FF79DA 100%);
  border-radius: 2rem;
  padding: 0.9rem;
  width: 12.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 3px 10px 5px #EAEAEA;
  transition: opacity, box-shadow 0.7s ease-in-out;
}
.btn__order:hover {
  opacity: 0.85;
  box-shadow: 3px 10px 5px #c5c5c5;
}

/* fonction pour calculer le temps de retard de l'animation pour chaque cartes */
.anim-1 {
  animation-delay: 0s;
}

.anim-2 {
  animation-delay: 0.2s;
}

.anim-3 {
  animation-delay: 0.4s;
}

.anim-4 {
  animation-delay: 0.6s;
}

.anim-5 {
  animation-delay: 0.8s;
}

.anim-6 {
  animation-delay: 1s;
}

.anim-7 {
  animation-delay: 1.2s;
}

.anim-8 {
  animation-delay: 1.4s;
}

.anim-9 {
  animation-delay: 1.6s;
}

.anim-10 {
  animation-delay: 1.8s;
}

/*# sourceMappingURL=menu.css.map */
