@import "./libs/mixins";

.footer {
    background: $footer-color;
    padding: 1rem;
    color: $white;
    @include desktopFooter;
    &__logo {
        font-size: 1.2rem;
        padding-left: 1rem;
        width: 8rem;
        font-weight: 300;
    }
    &__contact {
        padding: 1rem;
    }
    &__list {
        padding-bottom: .6rem;
        &--link {
            color: $white;
        }
    }
    &__icon {
        padding-right: .6rem;
    }
}