@import "./libs/variables.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./libs/reset.scss";
@import "./libs/typography.scss";
@import "./libs/mixins";



/* Localisation */

.location {
	background-color: $dark-gray;
	text-align: center;
	padding: 1.3rem;
	font-weight: 500;
  box-shadow: $inset;
	&__icon {
		padding: 0.5rem;
	}
}

/* Information */

.information {
	background-color: $soft-gray;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	text-align: center;
	margin-bottom: 2rem;
	&__title {
		font-size: 1.8rem;
	}
	&__text {
		padding: 1rem 0 0;
		color: rgb(104, 103, 103);
	}
	&__btn {
		margin: 1.8rem auto;
		@include btn-style;
	}
}

/* Fonctionnement */

.tutorial {
	&__title {
		margin-left: 1rem;
		font-size: 1.3rem;
	}
	&__list {
		padding: 1.4rem;
	}
	&__step {
		background-color: $soft-gray;
		padding: 1.5rem;
		margin-bottom: 1.4rem;
		border-radius: 1rem;
		box-shadow: $box-shadow;
		position: relative;
		display: flex;
		cursor: pointer;
		&:hover {
			background-color: $primary-soft;
		}
		&:hover .tutorial__icon {
			color: $color-primary;
		}
	}
	&__counter {
		position: absolute;
		left: -10px;
		background-color: $color-primary;
		border-radius: 100px;
		width: 1.2rem;
		height: 1.2rem;
		padding: 0.2rem;
		color: $white;
		font-size: small;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__icon {
		color: gray;
		margin-left: 0.7rem;
	}
	&__text {
		font-weight: bold;
		margin: 0 auto;
	}
}

/* Restaurants */

.restaurant {
	background-color: $soft-gray;
	padding: 2.5rem 1rem;
	&__test {

	}
	&__title {
		margin-bottom: 1.2rem;
		font-size: 1.3rem;
	}
	&__card {
		position: relative;
		border-radius: 1rem;
		background-color: $white;
		margin-bottom: 2rem;
		width: 100%;
		box-shadow: $box-shadow;
	}
	&__img {
		object-fit: cover;
		width: 100%;
		height: 11rem;
		border-radius: 1rem 1rem 0 0;
	}
	&__new {
		background-color: $color-tertiary;
		color: $dark-green;
		font-size: small;
		font-weight: bold;
		padding: 0.3rem 0.5rem;
		position: absolute;
		top: 12px;
		right: 15px;
	}
	&__footer {
		padding: 0.8rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__name {
		font-size: 1rem;
		padding-bottom: 0.2rem;
		color: black;
	}
	&__text {
		color: black;
	}

	&__anim {

	}

	&__icon {
		font-size: 1.7rem;
		color: black;
	}

	.fa-heart:hover::before {
		background: #ff79da;
		font-weight: 900;
		background: -webkit-linear-gradient(to right, #9356dc 21%, #ff79da 100%);
		background: linear-gradient(to right, #9356dc 21%, #ff79da 100%);
		-webkit-background-clip: text;
		color: transparent;
		transition: 500ms ease-out;
	}


}